# 1. Import the libraries

In [ ]:
# Warnings
import warnings

# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Ignore the warnings
warnings.filterwarnings('ignore')

# 2. Loading the dataset

In [ ]:
# Load the dataset
df = pd.read_excel('juridical_credit_analyze.xlsx', sheet_name='Juridical Credit Analysis')

In [ ]:
# Check the 5 first row of data
df.head()

,first_name,last_name,credit_score,income,employment_status,debt_to_income,loan_amount,collateral,payment_history,credit_utilization,length_of_credit_history,type_of_credit,outstanding_debt,bankruptcy_or_forclosure_history,legal_history,risk,address,age
0,Jono,Manullang,850,4760000,Unemployed,0.7,32010000,Equipment,Poor,0.939394,More than 5 years,"Bussiness,Credit",6560000,more than a year,yes,low,"Gg. Astana Anyar No. 4\n Balikpapan, KI 97728",25
1,Wirda,Firgantoro,440,17160000,1-2 years,0.8,42930000,Artworks,Good,0.808081,More than 5 years,"Home,Bussiness,Personal",11740000,less than a year,no,medium,"Jl. Moch. Ramdan No. 984\n Kotamobagu, MU 84283",54
2,Cahyanto,Melani,530,12620000,More than 5 years,0.3,22750000,Artworks,Excellent,0.686869,Less than a year,"Car,Credit",10830000,less than a year,no,low,"Jalan Pasir Koja No. 5\n Padang, Sulawesi Utar...",46
3,Hafshah,Salahudin,740,15600000,More than 5 years,0.8,43270000,Life Insurance Policies,Fair,0.494949,More than 5 years,"Car,Investment,Credit",27090000,more than a year,yes,medium,"Gg. Sentot Alibasa No. 6\n Tasikmalaya, Sumate...",23
4,Ciaobella,Pratiwi,630,22700000,1-2 years,0.6,13240000,Intellectual Property,Good,0.242424,More than 5 years,"Car,Credit",28190000,no,yes,medium,"Jalan Sentot Alibasa No. 9\n Cimahi, MU 77250",41

In [ ]:
df['address']

0         Gg. Astana Anyar No. 4\n Balikpapan, KI 97728
1       Jl. Moch. Ramdan No. 984\n Kotamobagu, MU 84283
2     Jalan Pasir Koja No. 5\n Padang, Sulawesi Utar...
3     Gg. Sentot Alibasa No. 6\n Tasikmalaya, Sumate...
4         Jalan Sentot Alibasa No. 9\n Cimahi, MU 77250
                            ...
95       Gg. Moch. Toha No. 148\n Bukittinggi, BE 11877
96          Gg. Ciwastra No. 677\n Balikpapan, MA 70427
97    Gg. Otto Iskandardinata No. 5\n Pontianak, SS ...
98    Gg. Pasteur No. 62\n Padangpanjang, Kalimantan...
99     Gg. Ronggowarsito No. 14\n Pagaralam, Riau 18640
Name: address, Length: 100, dtype: object

# 3. Statistic Summary

In [ ]:
df.describe()

,credit_score,income,debt_to_income,loan_amount,credit_utilization,outstanding_debt,age
count,100.000000,1.000000e+02,100.000000,1.000000e+02,100.000000,1.000000e+02,100.000000
mean,562.300000,1.458270e+07,0.463000,2.775060e+07,0.542121,1.536020e+07,37.600000
std,159.163565,8.921640e+06,0.254913,1.361328e+07,0.289032,8.410980e+06,12.035302
min,300.000000,7.300000e+05,0.100000,3.880000e+06,0.000000,5.900000e+05,20.000000
25%,447.500000,7.182500e+06,0.200000,1.651750e+07,0.303030,8.072500e+06,26.000000
50%,530.000000,1.311500e+07,0.400000,2.780000e+07,0.565657,1.687000e+07,37.500000
75%,702.500000,2.292750e+07,0.700000,4.113500e+07,0.790404,2.135250e+07,47.500000
max,850.000000,2.913000e+07,0.900000,4.956000e+07,0.989899,2.976000e+07,60.000000

# 4. Columns

In [ ]:
df.columns

Index(['first_name', 'last_name', 'credit_score', 'income',
       'employment_status', 'debt_to_income', 'loan_amount', 'collateral',
       'payment_history', 'credit_utilization', 'length_of_credit_history',
       'type_of_credit', 'outstanding_debt',
       'bankruptcy_or_forclosure_history', 'legal_history', 'risk', 'address',
       'age'],
      dtype='object')

In [ ]:
df['risk'].value_counts()

medium    39
high      31
low       30
Name: risk, dtype: int64